AI-Powered Blockchain Credential Verification and Real-Time Revocation Alert System/AI-Powered Blockchain Credential Verification and Real-Time Revocation Alert System.json
{
  "name": "AI-Driven Blockchain Credential Verification with Multi-Factor Authentication and Revocation Alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verify-credential",
        "options": {}
      },
      "name": "HTTP Request Trigger",
      "type": "n8n-nodes-base.httpTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text2text",
        "operation": "transform",
        "model": "gpt-4",
        "prompt": "You are given a credential JSON payload. Analyze its authenticity by evaluating format, issuer reputation, signature validity, and consistency. Return JSON with { \"authentic\": true/false, \"reasons\": [\"reason1\", \"reason2\"], \"score\": 0-1 } based on the analysis. Input credential: {{$json[\"credential\"]}}",
        "temperature": 0.2,
        "maxTokens": 500
      },
      "name": "AI Analyze Credential Authenticity",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getTransaction",
        "blockchain": "ethereum",
        "transactionHash": "={{$json[\"credential\"][\"verification\"][\"blockchainTxHash\"]}}"
      },
      "name": "Blockchain Credential Verification",
      "type": "n8n-nodes-base.blockchain",
      "typeVersion": 1,
      "position": [
        950,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const userPhone = $json[\"userPhone\"];\nif (!userPhone) throw new Error('Missing user phone number.');\n\nconst verificationCode = Math.floor(100000 + Math.random() * 900000).toString();\n\nreturn [{ json: { verificationCode, userPhone } }];"
      },
      "name": "Generate MFA Code",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        600,
        600
      ]
    },
    {
      "parameters": {
        "resource": "smsMessage",
        "operation": "send",
        "phoneNumber": "={{$json[\"userPhone\"]}}",
        "message": "Your MFA verification code is {{$json[\"verificationCode\"]}}",
        "additionalFields": {}
      },
      "name": "Send MFA SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        950,
        600
      ]
    },
    {
      "parameters": {
        "functionCode": "const verifiedCode = $json[\"providedCode\"];\nconst actualCode = $node[\"Generate MFA Code\"].json[\"verificationCode\"];\n\nreturn [{ json: { mfaVerified: verifiedCode === actualCode } }];"
      },
      "name": "Verify MFA Code",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1200,
        600
      ]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "toEmail": "={{$json[\"userEmail\"]}}",
        "subject": "Credential Revocation Alert",
        "text": "The credential with ID {{$json[\"credentialId\"]}} has been revoked on blockchain.",
        "additionalFields": {}
      },
      "name": "Send Revocation Alert Email",
      "type": "n8n-nodes-base.mailSend",
      "typeVersion": 1,
      "position": [
        950,
        900
      ]
    },
    {
      "parameters": {
        "operation": "watchLogs",
        "blockchain": "ethereum",
        "contractAddress": "={{$json[\"credential\"][\"verification\"][\"contractAddress\"]}}",
        "eventName": "CredentialRevoked",
        "options": {}
      },
      "name": "Watch Blockchain Revocation Logs",
      "type": "n8n-nodes-base.blockchainTrigger",
      "typeVersion": 1,
      "position": [
        250,
        900
      ]
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      credentialId: $json[\"eventData\"][\"credentialId\"],\n      userEmail: $json[\"eventData\"][\"userEmail\"]\n    }\n  }\n];"
      },
      "name": "Extract Revocation Info",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        600,
        900
      ]
    }
  ],
  "connections": {
    "HTTP Request Trigger": {
      "main": [
        [
          {
            "node": "AI Analyze Credential Authenticity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Blockchain Credential Verification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate MFA Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate MFA Code": {
      "main": [
        [
          {
            "node": "Send MFA SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send MFA SMS": {
      "main": [
        [
          {
            "node": "Verify MFA Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Watch Blockchain Revocation Logs": {
      "main": [
        [
          {
            "node": "Extract Revocation Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Revocation Info": {
      "main": [
        [
          {
            "node": "Send Revocation Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}