Blockchain-Based Educational Credential Verification & Secure Sharing Workflow/Blockchain-Based Educational Credential Verification & Secure Sharing Workflow.json
{
  "name": "Blockchain Educational Credential Verification & Secure Sharing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-credential",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Credential Submission",
      "type": "n8n-nodes-base.httpTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const credential = items[0].json;\n\n// Prepare data for blockchain verification\nreturn [{ json: { \n  credentialId: credential.id || null,\n  credentialData: credential.data || credential,\n  userId: credential.userId || null\n} }];"
      },
      "name": "Prepare for Verification",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{ $json[\"credentialId\"] ? `https://blockchain-node.example/api/verify/${$json[\"credentialId\"]}` : `https://blockchain-node.example/api/verify` }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_BLOCKCHAIN_API_TOKEN"
            }
          ]
        },
        "responseFormat": "json",
        "jsonParameters": true
      },
      "name": "Blockchain Verification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const verification = items[0].json;\n\nlet status = \"unknown\";\nif (verification.verified === true) {\n  status = \"verified\";\n} else if (verification.verified === false) {\n  status = \"failed\";\n}\nreturn [{ json: { ...verification, status } }];"
      },
      "name": "Check Verification Status",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const verification = items[0].json;\nif (verification.status === 'verified') {\n  return items;\n}\nreturn [];"
      },
      "name": "Filter Verified Credentials",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const credential = items[0].json;\n\n// Encrypt credential data for secure sharing\nconst crypto = require('crypto');\nconst secretKey = process.env.ENCRYPTION_KEY || 'defaultencryptionkey1234';\n\nfunction encrypt(text) {\n  const iv = crypto.randomBytes(16);\n  const cipher = crypto.createCipheriv('aes-256-cbc', Buffer.from(secretKey, 'utf8'), iv);\n  let encrypted = cipher.update(JSON.stringify(text));\n  encrypted = Buffer.concat([encrypted, cipher.final()]);\n  return iv.toString('hex') + ':' + encrypted.toString('hex');\n}\n\nconst encryptedCredential = encrypt(credential);\n\nreturn [{ json: { encryptedCredential, userId: credential.userId, credentialId: credential.credentialId }}];"
      },
      "name": "Encrypt Credential",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "smtp",
        "fromEmail": "no-reply@credentialplatform.example",
        "toEmail": "={{$json[\"recipientEmail\"] || 'employer@company.com'}}",
        "subject": "Verified Educational Credential",
        "text": "Dear recipient,\n\nPlease find the encrypted verified credential attached below.\n\nEncrypted Credential:\n{{$json[\"encryptedCredential\"]}}\n\nUse the appropriate decryption key to view the credential.\n\nRegards,\nCredential Verification Team"
      },
      "name": "Send Secure Credential",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"status\"] === \"verified\"}}",
              "operation": "equal"
            }
          ]
        }
      },
      "name": "If Verified",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "mode": "smtp",
        "fromEmail": "no-reply@credentialplatform.example",
        "toEmail": "={{$json[\"userEmail\"] || $json[\"userId\"] + '@example.com'}}",
        "subject": "Credential Verification Success",
        "text": "Dear user,\n\nYour credential has been successfully verified on the blockchain.\n\nThank you for using our service.\n\nRegards,\nCredential Verification Team"
      },
      "name": "Notify User Success",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1100,
        450
      ]
    },
    {
      "parameters": {
        "mode": "smtp",
        "fromEmail": "no-reply@credentialplatform.example",
        "toEmail": "={{$json[\"userEmail\"] || $json[\"userId\"] + '@example.com'}}",
        "subject": "Credential Verification Failed",
        "text": "Dear user,\n\nUnfortunately, your credential verification failed. Please check the submitted information and try again.\n\nRegards,\nCredential Verification Team"
      },
      "name": "Notify User Failure",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1100,
        550
      ]
    }
  ],
  "connections": {
    "Credential Submission": {
      "main": [
        [
          {
            "node": "Prepare for Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Verification": {
      "main": [
        [
          {
            "node": "Blockchain Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blockchain Verification": {
      "main": [
        [
          {
            "node": "Check Verification Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Verification Status": {
      "main": [
        [
          {
            "node": "If Verified",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify User Failure",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If Verified": {
      "main": [
        [
          {
            "node": "Notify User Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Verified Credentials",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter Verified Credentials": {
      "main": [
        [
          {
            "node": "Encrypt Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encrypt Credential": {
      "main": [
        [
          {
            "node": "Send Secure Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "4"
}