Unified Social Media Engagement Aggregator/Unified Social Media Engagement Aggregator.json
{"name":"Smart Social Media Engagement Tracker","nodes":[{"parameters":{"authentication":"oauth2","resource":"tweet","operation":"get","id":"={{$json[\"tweet_id\"]}}"},"name":"Get Tweet Details","type":"n8n-nodes-base.twitter","typeVersion":1,"position":[200,200],"credentials":{"twitterOAuth2Api":"Twitter OAuth2 API"}},{"parameters":{"authentication":"oauth2","property":"media_id","options":{},"id":"=1"},"name":"Get Instagram Media","type":"n8n-nodes-base.instagram","typeVersion":1,"position":[200,400],"credentials":{"instagramOAuth2Api":"Instagram OAuth2 API"}},{"parameters":{"operation":"getPosts","page":1,"fields":["likes","shares","comments"],"limit":10},"name":"Get Facebook Posts","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[200,600],"credentials":{"facebookGraphApi":"Facebook Graph API"}},{"parameters":{"functionCode":"const twitterData = items[0].json;\nconst instagramData = items[1].json;\nconst facebookData = items[2].json;\n\n// Aggregate data\nconst engagement = {likes:0,shares:0,comments:0};\n\n// Twitter\nengagement.likes += twitterData.public_metrics ? twitterData.public_metrics.like_count : 0;\nengagement.shares += twitterData.public_metrics ? twitterData.public_metrics.retweet_count : 0;\nengagement.comments += twitterData.public_metrics ? twitterData.public_metrics.reply_count : 0;\n\n// Instagram\nengagement.likes += instagramData.media_like_count || 0;\nengagement.comments += instagramData.media_comment_count || 0;\n\n// Facebook\nfacebookData.data.forEach(post => {\n  engagement.likes += post.likes ? post.likes.summary.total_count : 0;\n  engagement.shares += post.shares ? post.shares.count : 0;\n  engagement.comments += post.comments ? post.comments.summary.total_count : 0;\n});\n\nreturn [{json:{engagement}}];"},"name":"Analyze Engagement","type":"n8n-nodes-base.function","typeVersion":1,"position":[450,400]},{"parameters":{"operation":"send","fromEmail":"your_email@example.com","toEmail":"recipient@example.com","subject":"Daily Social Media Engagement Report","text":"=The total engagement today is Likes: {{$json[\"engagement\"].likes}}, Shares: {{$json[\"engagement\"].shares}}, Comments: {{$json[\"engagement\"].comments}}.\n\nInsights:\n- Analyze trends and recommend best posting times based on historical data.\n\nRegards,\nSmart Social Media Engagement Tracker"},"name":"Send Email Report","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[700,400],"credentials":{"smtp":{"user":"your_email@example.com","password":"your_email_password","host":"smtp.example.com","port":587,"secure":false}}}],"connections":{"Get Tweet Details":{"main":[[{"node":"Get Instagram Media","type":"main","index":0}]]},"Get Instagram Media":{"main":[[{"node":"Get Facebook Posts","type":"main","index":0}]]},"Get Facebook Posts":{"main":[[{"node":"Analyze Engagement","type":"main","index":0}]]},"Analyze Engagement":{"main":[[{"node":"Send Email Report","type":"main","index":0}]]}},"active":false,"settings":{"timezone":"America/New_York","startNodes":["Get Tweet Details"]},"id":"1"}