Urban Wildlife AI Monitoring and Conservation Alert System/Urban Wildlife AI Monitoring and Conservation Alert System.json
{
  "name": "AI-Driven Smart Urban Wildlife Observation and Conservation Assistant",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.openaq.org/v2/latest?city=YOUR_CITY&parameter=pm25,pm10,co,no2,o3",
        "options": {},
        "responseFormat": "json"
      },
      "name": "Fetch Environmental Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "uploadImage",
        "additionalFields": {},
        "binaryPropertyName": "wildlifeImage"
      },
      "name": "Upload Wildlife Image",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        50,
        100
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://api.wildlifeimagerecognition.com/v1/identify",
        "method": "POST",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "[{\"name\":\"Authorization\",\"value\":\"Bearer YOUR_API_KEY\"}, {\"name\":\"Content-Type\",\"value\":\"application/json\"}]",
        "bodyParametersJson": "{\"image_url\":\"={{$node[\"Upload Wildlife Image\"].binary.wildlifeImage.data}}\"}"
      },
      "name": "Wildlife Image Recognition",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        100
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "functionCode": "const recognition = items[0].json;\nconst envData = items[1].json;\n\n// Extract identified species and confidence\nconst species = recognition.species || 'Unknown';\nconst confidence = recognition.confidence || 0;\n\n// Extract environmental parameters\nconst airQualityIndex = envData.results.reduce((acc, cur) => {\n  cur.measurements.forEach(m => {\n    acc[m.parameter] = m.value;\n  });\n  return acc;\n}, {});\n\nreturn [{\n  json: {\n    species,\n    confidence,\n    airQualityIndex\n  }\n}];"
      },
      "name": "Aggregate Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "text": "New urban wildlife sighting detected:\nSpecies: {{$json[\"species\"]}}\nConfidence: {{$json[\"confidence\"]}}\nEnvironmental conditions (AQI approx.): PM2.5: {{$json.airQualityIndex.pm25 || 'N/A'}}, PM10: {{$json.airQualityIndex.pm10 || 'N/A'}}, CO: {{$json.airQualityIndex.co || 'N/A'}}, NO2: {{$json.airQualityIndex.no2 || 'N/A'}}, O3: {{$json.airQualityIndex.o3 || 'N/A'}}\n\nLet's promote urban conservation together!\n#UrbanWildlife #CitizenScience",
        "options": {
          "disableNotification": false
        },
        "chatId": "YOUR_TELEGRAM_CHAT_ID"
      },
      "name": "Send Community Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID"
        }
      }
    },
    {
      "parameters": {
        "channel": "#urban-wildlife-observations",
        "text": "Species Detected: {{$json[\"species\"]}}\nConfidence: {{$json[\"confidence\"]}}\nAir Quality Details: PM2.5: {{$json.airQualityIndex.pm25 || 'N/A'}}, PM10: {{$json.airQualityIndex.pm10 || 'N/A'}}, CO: {{$json.airQualityIndex.co || 'N/A'}}, NO2: {{$json.airQualityIndex.no2 || 'N/A'}}, O3: {{$json.airQualityIndex.o3 || 'N/A'}}\nTimestamp: {{new Date().toISOString()}}\n\nEncouraging citizen science and urban conservation.",
        "options": {
          "username": "UrbanWildlifeBot"
        }
      },
      "name": "Post to Slack Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        850,
        100
      ],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID"
        }
      }
    }
  ],
  "connections": {
    "Upload Wildlife Image": {
      "main": [
        [
          {
            "node": "Wildlife Image Recognition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Environmental Data": {
      "main": [
        [
          {
            "node": "Aggregate Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wildlife Image Recognition": {
      "main": [
        [
          {
            "node": "Aggregate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Data": {
      "main": [
        [
          {
            "node": "Send Community Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Slack Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}