Blockchain Credential Integrity Monitor and Alert System/Blockchain Credential Integrity Monitor and Alert System.json
{
  "name": "AI-Powered Blockchain Credential Verification and Instant Revocation Notification System",
  "nodes": [
    {
      "parameters": {
        "functionCode": "/*\nThis node checks the blockchain for the credential status.\nInput: credentialId\nOutput: { status: 'active' | 'revoked' | 'updated', details: {...} }\n*/\n\nconst credentialId = $json[\"credentialId\"];\n\n// Placeholder for blockchain API call\n// Replace with actual API call to blockchain node or service\n\nasync function checkCredentialStatus(id) {\n  // Simulated response\n  return {\n    status: Math.random() > 0.8 ? \"revoked\" : \"active\",\n    details: {\n      credentialId: id,\n      issuedTo: \"user@example.com\",\n      issuedAt: \"2023-01-01T00:00:00Z\"\n    }\n  };\n}\n\nreturn checkCredentialStatus(credentialId).then(result => ({ json: result }));"
      },
      "name": "Blockchain Credential Status Check",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"status\"] === \"revoked\" || $json[\"status\"] === \"updated\"}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Revoked or Updated",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "no-reply@yourdomain.com",
        "toEmail": "={{$json[\"details\"][\"issuedTo\"]}}",
        "subject": "Credential Status Alert: {{$json[\"status\"]}}",
        "text": "Credential with ID {{$json[\"details\"][\"credentialId\"]}} has been {{$json[\"status\"]}}.\nPlease take necessary action immediately."
      },
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "phoneNumbers": "={{$json[\"details\"][\"issuedTo\"]}}",
        "message": "Alert: Credential {{$json[\"details\"][\"credentialId\"]}} status changed to {{$json[\"status\"]}}. Please verify."
      },
      "name": "Send SMS Notification",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "credentials": {
        "twilioApi": "Twilio Account"
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#credential-alerts",
        "text": "Credential {{$json[\"details\"][\"credentialId\"]}} has been {{$json[\"status\"]}}. Immediate attention required."
      },
      "name": "Send Messaging Platform Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        750,
        400
      ],
      "credentials": {
        "slackApi": "Slack Bot"
      }
    },
    {
      "parameters": {
        "interval": 300,
        "options": {}
      },
      "name": "Periodic Trigger",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        50,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "/*\nSimulating input credentials list for checking.\nIn production, this list could come from a database or API.\nOutput is an array of credentialId objects.\n*/\n\nconst credentials = [\n  { credentialId: \"cred-001\" },\n  { credentialId: \"cred-002\" },\n  { credentialId: \"cred-003\" }\n];\n\nreturn credentials.map(item => ({ json: item }));"
      },
      "name": "Generate Credential List",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        150,
        300
      ]
    }
  ],
  "connections": {
    "Periodic Trigger": {
      "main": [
        [
          {
            "node": "Generate Credential List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Credential List": {
      "main": [
        [
          {
            "node": "Blockchain Credential Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blockchain Credential Status Check": {
      "main": [
        [
          {
            "node": "Check Revoked or Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Revoked or Updated": {
      "main": [
        [],
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send SMS Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Messaging Platform Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}