AI-Enhanced Blockchain Credential Verification with MFA and Dynamic Revocation Alerts/AI-Enhanced Blockchain Credential Verification with MFA and Dynamic Revocation Alerts.json
{
  "name": "AI-Powered Blockchain Credential Verification with MFA and Real-Time Revocation Alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verify-credential",
        "options": {},
        "responseMode": "lastNode",
        "responseData": "allEntries"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "generic",
        "url": "={{`https://blockchain-node.example.com/verify/${$json[\"credentialId\"]}`}}",
        "options": {}
      },
      "name": "Blockchain Verification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        550,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "Blockchain Node Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "generic",
        "url": "=https://mfa-provider.example.com/generate",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={ \"userId\": $json[\"userId\"] }"
      },
      "name": "Request MFA Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        250,
        500
      ]
    },
    {
      "parameters": {
        "functionCode": "const mfaVerified = $json[\"mfaStatus\"] === 'verified';\nreturn mfaVerified ? items : [];"
      },
      "name": "Validate MFA Status",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        500
      ]
    },
    {
      "parameters": {
        "functionCode": "const isValid = $json[\"blockchainVerification\"][\"status\"] === 'valid';\nreturn isValid ? items : [];"
      },
      "name": "Validate Blockchain Credential",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "generic",
        "url": "from=auto&to=whatsapp",
        "options": {}
      },
      "name": "Check Revocation Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        950,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Revocation Status API Auth"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const revoked = $json[\"revoked\"] === true;\nreturn revoked ? items : [];"
      },
      "name": "Check If Revoked",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1150,
        300
      ]
    },
    {
      "parameters": {
        "channels": [
          "email",
          "sms",
          "slack"
        ],
        "subject": "Credential Revocation Alert",
        "message": "Credential with ID {{$json[\"credentialId\"]}} has been revoked in the blockchain system. Immediate action is recommended.",
        "email": {
          "toEmail": "={{$json[\"userEmail\"]}}"
        },
        "sms": {
          "toPhone": "={{$json[\"userPhone\"]}}"
        },
        "slack": {
          "channel": "#security-alerts"
        }
      },
      "name": "Send Revocation Alerts",
      "type": "n8n-nodes-base.multiChannel",
      "typeVersion": 1,
      "position": [
        1350,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { message: 'Credential Verified and MFA Completed' } }];"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        950,
        500
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { error: 'Verification or MFA failed' } }];"
      },
      "name": "Failure Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        950,
        700
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Blockchain Verification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Request MFA Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blockchain Verification": {
      "main": [
        [
          {
            "node": "Validate Blockchain Credential",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request MFA Token": {
      "main": [
        [
          {
            "node": "Validate MFA Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Blockchain Credential": {
      "main": [
        [
          {
            "node": "Check Revocation Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate MFA Status": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Revocation Status": {
      "main": [
        [
          {
            "node": "Check If Revoked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Revoked": {
      "main": [
        [
          {
            "node": "Send Revocation Alerts",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}