AI-Driven Blockchain Credential Verification and Real-Time Alert Workflow/AI-Driven Blockchain Credential Verification and Real-Time Alert Workflow.json
{
  "name": "AI-Powered Blockchain Educational Credential Verification and Real-Time Revocation Alert System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{ $json.credentialsApiUrl }}",
        "queryParametersUi": {
          "parameter": [
            {
              "name": "credential_id",
              "value": "={{ $json.credentialId }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Credential from Blockchain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const credentialData = items[0].json;\n\n// Simulate AI-based verification logic\n// For example, verifying signatures, issuer authenticity, and comparing hashes\nconst verified = credentialData.signatureValid && credentialData.issuerTrusted && credentialData.dataHash === credentialData.calculatedHash;\n\nreturn [{ json: { isVerified: verified, credentialData } }];"
      },
      "name": "AI Verification Check",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const credential = $json.credentialData;\n\n// Check for revocation or updates\nconst hasAlert = credential.status === 'revoked' || credential.status === 'updated';\n\nreturn [{ json: { hasAlert, status: credential.status, email: credential.ownerEmail, id: credential.id } }];"
      },
      "name": "Check Revocation or Updates",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "filters": {
          "boolean": [
            {
              "value1": "={{$json.hasAlert}}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "name": "If Revocation or Update Alert",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "smtp",
        "fromEmail": "no-reply@educationblockchain.ai",
        "toEmail": "={{$json.email}}",
        "subject": "Credential Status Alert: {{$json.status}}",
        "text": "Dear User,\n\nYour educational credential with ID {{$json.id}} has been marked as {{$json.status}} on the blockchain system.\n\nPlease verify with the issuing institution if you have questions.\n\nBest regards,\nEducational Credential Verification Team"
      },
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1300,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Credential"
        }
      }
    },
    {
      "parameters": {
        "resource": "notification",
        "operation": "sendMessage",
        "message": "={{`Credential ID: ${$json.id} has status: ${$json.status}. Please review immediately.`}}",
        "to": "={{$json.email}}",
        "platform": "slack"
      },
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        1300,
        400
      ],
      "credentials": {
        "slackApi": {
          "id": "2",
          "name": "Slack API Credential"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "={{ $json.credentialsApiUrl }}",
        "options": {
          "watch": true,
          "watchEvents": [
            "credential.revoked",
            "credential.updated"
          ]
        }
      },
      "name": "Watch Blockchain Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        50,
        100
      ]
    }
  ],
  "connections": {
    "Watch Blockchain Events": {
      "main": [
        [
          {
            "node": "Get Credential from Blockchain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Credential from Blockchain": {
      "main": [
        [
          {
            "node": "AI Verification Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Verification Check": {
      "main": [
        [
          {
            "node": "Check Revocation or Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Revocation or Updates": {
      "main": [
        [
          {
            "node": "If Revocation or Update Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Revocation or Update Alert": {
      "main": [
        [],
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}